<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="information2">
<div id="information">
<link href="../View/assets/new.css" rel="stylesheet" type="text/css">
<div id="wrap">

    <div id="left">
        <h4>Въведете марка гума за повече информация: </h4>
        <input type="text" id="loc" oninput="getCountry(this)" placeholder="Въведете марка гума...." name="search">

        <div class="fr" style="visibility: hidden" id="first1"></div>


    <div style="visibility: hidden" id="second2"></div>

    <script src="../View/main.js"></script>
</div>
</div>

</div>
</div>


</body>
</html>
