<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../View/assets/style.css" rel="stylesheet" type="text/css">
    <link href="../View/assets/reset.css">
</head>
<body>

<nav id="head">
    <a class="or navbutton" href="../Controller/indexControllerE.php?page=winterE">W. TIRES</a>
    <a class="or navbutton" href="../Controller/indexControllerE.php?page=summerE">S. TIRES</a>
    <a class="or navbutton " href="../Controller/indexControllerE.php?page=brandsE">BRAND</a>
    <a class="or navbutton" href="../Controller/indexControllerE.php?page=contactE">CONTACT</a>
    <a class="or navbutton" href="../Controller/indexControllerE.php?page=loginE">  LOGIN  </a>
    <a class="or navbutton" href="../Controller/indexControllerE.php?page=registerE">REGISTER</a>

</nav>

</body>
</html>