<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="./assets/style.css" rel="stylesheet" type="text/css">
    <link href="../View/assets/reset.css">
</head>
<body>
<nav id="head">
    <!--<link href="./assets/style.css" rel="stylesheet" type="text/css">-->
    <!--<link href="../View/assets/reset.css">-->
    <a href="../Controller/indexControllerE.php?page=winterE" class="or navbutton">W. TIRES</a>
    <a href="../Controller/indexControllerE.php?page=summerE" class="or navbutton">S.TIRES</a>
    <a href="../View/cartE.php" class="or navbutton">CART</a>
    <a href="../Controller/indexControllerE.php?page=historyE" class="or navbutton">HISTORY</a>
    <a href="../Controller/indexControllerE.php?page=profileE" class="or navbutton">PROFILE</a>
    <a href="../Controller/indexControllerE.php?page=logoutE" class="or navbutton">EXIT</a>

</nav>

</body>

</html>