<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<link href="assets/style.css" rel="stylesheet">
<div id="f">
<div id="first">
    <div id="inner"><h3 style="color: maroon">БАЗА  И  ДЕЙНОСТИ

    </h3></div>
    <h3 id="firstpar">

       Разполагаме с модерна сервизна база оборудвана с съвременна техника на CORGHI.

    </h3>

    <br>
</div>

<div id="second">
    <div id="secondinner"><h3 style="color: maroon">ДОПЪЛНИТЕЛНИ  ДЕЙНОСТИ</h3></div>
    <h3 id="secondpar">

        Продажба на гуми, пътна помощ, хотел за гуми, монтаж на авто електронни аксесоари и др.

    </h3>

    <br>
</div>
<div id="third">
    <div id="thirdinner"><h3 style="color:maroon ">СЕМЕЕН СЕРВИЗ</h3></div>
    <h3 id="thirdpar">

        Ние от сервиз Vi&Mar знаем какво е натоварването на клиентите ни и ценим тяхното време!

    </h3>

    <br>
</div>
</div>
</body>
</html>