<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../View/assets/searchMenu.css" rel="stylesheet">


</head>

<body>

<section class="tprod">

    <table class="products_table" border="1" style="width: 55%">
        <tr>

            <th>Марка</th>
            <th>Сезон</th>
            <th>Размер</th>
            <th>Наличност</th>
            <th>Цена BGN</th>
            <th>Добави в количка</th>
        </tr>
        <tbody id="data"></tbody>

    </table>

    <script>

        //xmlhttprequest
        //get -> gumicontroller
        //handle response - > json s gumi
        //for each guma in json
        //get table add row with columns with values from guma
        debugger;
        var ajax = new XMLHttpRequest();
        var method = "GET";
        var url = "../Model/dataWinter.php";
        var asynchronous = true;
        ajax.open(method, url, asynchronous);
        ajax.send();
        ajax.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var data = JSON.parse(this.responseText);
                console.log(data);
                var html = "";
                for (var a = 0; a < data.length; a++) {
                    var name_brand = data[a].name_brand;
                    var season = data[a].season;
                    var size = data[a].size;
                    var quantity = data[a].quantity;
                    var price = data[a].price;

                    html += "<tr>";
                    html += "<td id='dali'>" + name_brand + "</td>";
                    html += "<td>" + season + "</td>";
                    html += "<td>" + size + "</td>";
                    html += "<td>" + quantity + "</td>";
                    html += "<td>" + price + "</td>";
                    html += "<td>" + "" +
                        "<form action='../Controller/gumiController.php' method='post'>" +
                        "<input type='hidden' name='hidden_tire' value=' " +name_brand+  " '  >" +
                        "<input type='hidden' name='hidden_size' value=' " +size+  " '  >" +
                        "<input type='hidden' name='hidden_season' value=' " +season+  " '  > " +
                        "<input type='hidden' name='hidden_quantity' value=' " +quantity+  " '  >" +
                        "<input type='hidden' name='hidden_price' value=' " +price+  " '  >" +
                        "<input style='color: goldenrod' type='submit'  name='add_in_cart' " +
                        "value='Добави в количка'></form>" + "</td>";



                    html += "</tr>";
                }
                document.getElementById("data").innerHTML = html;
            }

        }

    </script>

</section>




<div id="wrap">

    <div id="left">
        <h4>Въведете марка гума за повече информация: </h4>
        <div class="searchHolder">
            <input id="searchBar" type="text" oninput="getCountry(this)" placeholder="Въведете марка гума...."name="search">
            <div style="visibility: hidden" id="searchmod1"></div>
        </div>

        <div style="visibility: hidden" id="search-info"></div>

    </div>
    <div style="visibility: hidden" id="modsearch2"></div>
    <script src="../View/main.js"></script>
</div>
</body>
</html>


